<pre><tt><b><font color="#000080">#include</font></b> <font color="#FF0000">&lt;Python.h&gt;</font>

<b><font color="#0000FF">typedef</font></b> <b><font color="#0000FF">struct</font></b> <font color="#FF0000">{</font>
    PyObject_HEAD
    <i><font color="#9A1900">/* Type-specific fields go here. */</font></i>
<font color="#FF0000">}</font> noddy_NoddyObject<font color="#990000">;</font>

<b><font color="#0000FF">static</font></b> PyTypeObject noddy_NoddyType <font color="#990000">=</font> <font color="#FF0000">{</font>
    <b><font color="#000000">PyObject_HEAD_INIT</font></b><font color="#990000">(</font>NULL<font color="#990000">)</font>
    <font color="#993399">0</font><font color="#990000">,</font>                         <i><font color="#9A1900">/*ob_size*/</font></i>
    <font color="#FF0000">"noddy.Noddy"</font><font color="#990000">,</font>             <i><font color="#9A1900">/*tp_name*/</font></i>
    <b><font color="#0000FF">sizeof</font></b><font color="#990000">(</font>noddy_NoddyObject<font color="#990000">)</font><font color="#990000">,</font> <i><font color="#9A1900">/*tp_basicsize*/</font></i>
    <font color="#993399">0</font><font color="#990000">,</font>                         <i><font color="#9A1900">/*tp_itemsize*/</font></i>
    <font color="#993399">0</font><font color="#990000">,</font>                         <i><font color="#9A1900">/*tp_dealloc*/</font></i>
    <font color="#993399">0</font><font color="#990000">,</font>                         <i><font color="#9A1900">/*tp_print*/</font></i>
    <font color="#993399">0</font><font color="#990000">,</font>                         <i><font color="#9A1900">/*tp_getattr*/</font></i>
    <font color="#993399">0</font><font color="#990000">,</font>                         <i><font color="#9A1900">/*tp_setattr*/</font></i>
    <font color="#993399">0</font><font color="#990000">,</font>                         <i><font color="#9A1900">/*tp_compare*/</font></i>
    <font color="#993399">0</font><font color="#990000">,</font>                         <i><font color="#9A1900">/*tp_repr*/</font></i>
    <font color="#993399">0</font><font color="#990000">,</font>                         <i><font color="#9A1900">/*tp_as_number*/</font></i>
    <font color="#993399">0</font><font color="#990000">,</font>                         <i><font color="#9A1900">/*tp_as_sequence*/</font></i>
    <font color="#993399">0</font><font color="#990000">,</font>                         <i><font color="#9A1900">/*tp_as_mapping*/</font></i>
    <font color="#993399">0</font><font color="#990000">,</font>                         <i><font color="#9A1900">/*tp_hash */</font></i>
    <font color="#993399">0</font><font color="#990000">,</font>                         <i><font color="#9A1900">/*tp_call*/</font></i>
    <font color="#993399">0</font><font color="#990000">,</font>                         <i><font color="#9A1900">/*tp_str*/</font></i>
    <font color="#993399">0</font><font color="#990000">,</font>                         <i><font color="#9A1900">/*tp_getattro*/</font></i>
    <font color="#993399">0</font><font color="#990000">,</font>                         <i><font color="#9A1900">/*tp_setattro*/</font></i>
    <font color="#993399">0</font><font color="#990000">,</font>                         <i><font color="#9A1900">/*tp_as_buffer*/</font></i>
    Py_TPFLAGS_DEFAULT<font color="#990000">,</font>        <i><font color="#9A1900">/*tp_flags*/</font></i>
    <font color="#FF0000">"Noddy objects"</font><font color="#990000">,</font>           <i><font color="#9A1900">/* tp_doc */</font></i>
<font color="#FF0000">}</font><font color="#990000">;</font>

<b><font color="#0000FF">static</font></b> PyMethodDef noddy_methods<font color="#990000">[</font><font color="#990000">]</font> <font color="#990000">=</font> <font color="#FF0000">{</font>
    <font color="#FF0000">{</font>NULL<font color="#FF0000">}</font>  <i><font color="#9A1900">/* Sentinel */</font></i>
<font color="#FF0000">}</font><font color="#990000">;</font>

<b><font color="#000080">#ifndef</font></b> PyMODINIT_FUNC	<i><font color="#9A1900">/* declarations for DLL import/export */</font></i>
<b><font color="#000080">#define</font></b> PyMODINIT_FUNC <font color="#009900">void</font>
<b><font color="#000080">#endif</font></b>
PyMODINIT_FUNC
<b><font color="#000000">initnoddy</font></b><font color="#990000">(</font><font color="#009900">void</font><font color="#990000">)</font> 
<font color="#FF0000">{</font>
    PyObject<font color="#990000">*</font> m<font color="#990000">;</font>

    noddy_NoddyType<font color="#990000">.</font>tp_new <font color="#990000">=</font> PyType_GenericNew<font color="#990000">;</font>
    <b><font color="#0000FF">if</font></b> <font color="#990000">(</font><b><font color="#000000">PyType_Ready</font></b><font color="#990000">(</font><font color="#990000">&amp;</font>noddy_NoddyType<font color="#990000">)</font> <font color="#990000">&lt;</font> <font color="#993399">0</font><font color="#990000">)</font>
        <b><font color="#0000FF">return</font></b><font color="#990000">;</font>

    m <font color="#990000">=</font> <b><font color="#000000">Py_InitModule3</font></b><font color="#990000">(</font><font color="#FF0000">"noddy"</font><font color="#990000">,</font> noddy_methods<font color="#990000">,</font>
                       <font color="#FF0000">"Example module that creates an extension type."</font><font color="#990000">)</font><font color="#990000">;</font>

    <b><font color="#000000">Py_INCREF</font></b><font color="#990000">(</font><font color="#990000">&amp;</font>noddy_NoddyType<font color="#990000">)</font><font color="#990000">;</font>
    <b><font color="#000000">PyModule_AddObject</font></b><font color="#990000">(</font>m<font color="#990000">,</font> <font color="#FF0000">"Noddy"</font><font color="#990000">,</font> <font color="#990000">(</font>PyObject <font color="#990000">*</font><font color="#990000">)</font><font color="#990000">&amp;</font>noddy_NoddyType<font color="#990000">)</font><font color="#990000">;</font>
<font color="#FF0000">}</font>
</tt></pre>
